.message{
    display: block;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row{
    width: 100%;
}

p{
    margin-bottom: 5px;
}

.name{
    color: gray;
    font-size: 10px;
}

.messageText{
    color: black;
    
}

.pro:after {
    content: "";
    display: table;
    clear: both;
  }

.card-body{
    font-size: 14px;
    line-height: 1.2em;
}

.con:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 768px) {
    .message {
        max-width: 70%;

    }
}