.message{
    display: block;
    display: flex;
    margin: 15px;
}

.row{
    width: 100%;
}

p{
    margin-bottom: 5px;
}

.name{
    color: gray;
    font-size: 10px;
}

.messageText{
    color: black;
}

.pro:after {
    content: "";
    display: table;
    clear: both;
  }

.card-body{
    display: flex
}

.con:after {
    content: "";
    display: table;
    clear: both;
}
