#chatView{
    width: 100%;
    background-color: gray;
    display: flex;
    overflow-y: scroll;
    border-radius:0px 0px 0px 0px;

}
#chatView::-webkit-scrollbar { 
    width: 0 !important 
}

.row{
    height: 100%;
}

.overflow{
   height: 100vh;
   position: relative;

}

.actions{
    height: 50px;
}

.input{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    border-radius:75px 75px 0px 0px;
}

.form-control{
    border-radius:75px 0px 0px 0px;
    width: 100%;
    display: flex;
    padding:  0px 0px 0px 50px;
    max-height: 100px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

textarea{
    width: 90%;
    z-index: -1;
    resize: none

}

.submit{
    width: 100%;
    height: 100%;
    border-radius: 0px 75px 0px 0px;

}

.bottom1{
    margin-right:0;
    padding-right: 0;
}

.bottom2{
    margin-left:0;
    padding-left: 0;
    padding-right: 0;
}

input { overflow: expand; }



@media only screen and (max-width: 768px) {
    
    .bottom1{
        max-width: 80%;
    }
    .bottom2{
        max-width: 20%;
    }
}