#chatView{
    height: 100vh;
    position: relative;

}
.messageView{
    width: 100%;
    max-width: 100%;
    background-color: white;
    display: flex;
    overflow-y: scroll;
    overflow-x: none;
    border-radius:0px 0px 0px 0px;
    margin-bottom: 50px;
    flex-direction : column
}

#chatView::-webkit-scrollbar { 
    width: 0 !important 
}

#messageView::-webkit-scrollbar { 
    width: 0 !important 
}



.overflow{
   position: relative;

}

.chatBar{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    margin-bottom: 1px;
}

.actions{
    height: 50px;
}

.input{
    position: fixed;
    bottom: 0;
}

.form-control{
    border-radius:75px 0px 0px 0px;
    display: flex;
    padding:  0px 0px 0px 50px;
    max-height: 100px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

textarea{
    resize: none

}

.submit{
    width: 100%;
    height: 100%;
    border-radius: 0px 75px 0px 0px;

}
bottom{
    width:100%
}

.bottom1{
    margin-right:0;
    padding-right: 0;
}

.bottom2{
    margin-left:0;
    padding-left: 0;
}

input { overflow: hidden }



@media only screen and (max-width: 768px) {
    
    .bottom1{
        max-width: 80%;
    }
    .bottom2{
        max-width: 20%;
    }
}

.chat {
    padding: 0;
}

.pro{
    background-color: #3385f7;
}

.pro:hover{
    background-color: #3385f7;
}

.pro:active{
    background-color: #3385f7;
}

.con{
    background-color: #eb3c24;
}

.con:hover{
    background-color: #eb3c24;
}

.con:active{
    background-color: #eb3c24;
}