



.pro{
    background-color: #3385f7;
}

.pro:hover{
    background-color: #3385f7;
}
.pro:active{
    background-color: #3385f7;
}

.con{
    background-color: #eb3c24;
}

.con:hover{
    background-color: #eb3c24;
}

.con:active{
    background-color: #eb3c24;
}

.chat{
    overflow-y: scroll;
    max-height: 80vh
}

@media only screen and (max-width: 768px) {
    .chat {
        max-height: 70vh;
    }
}

.input{
    max-height: 15vh
}

.chatBar{
    max-height: 5vh
}